<% if(success && success.length){ %>
    <div class="fixed-button active alert alert-success alert-dismissible fade show" role="alert">
        <%=success%>
        
    </div>
<% } %>

<% if(error && error.length){ %>
    <div class="fixed-button active alert alert-danger alert-dismissible fade show" role="alert">
        <%=error%>
     
      </div>
<% } %>


