<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Add a default marker to a web map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
<div id="map"></div>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
<div id="map">
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiamFpam9zaGkiLCJhIjoiY2tqNW03eHEyMDU2NzJ1bXQ1dXA4dzQydSJ9.DVT4T1SbwdPDaWHiRaNqoQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [(72.8728+72.820458)/2, (19.1955+19.139348)/2],
        zoom: 12
    });

    // Create a default Marker and add it to the map.
    var marker1 = new mapboxgl.Marker()
        .setLngLat([72.8728,19.1955])
        .addTo(map);

    // Create a default Marker, colored black, rotated 45 degrees.
    var marker2 = new mapboxgl.Marker({ color: 'black'})
        .setLngLat([72.820458,19.139348])
        .addTo(map);
    
    map.addControl(
    new MapboxDirections({
    accessToken: mapboxgl.accessToken
    }),
        'top-left'
    );
</script>

</body>
</html>